/* It contains styles for instagram button, e-mail button, whatssapp button, "Contactează" button and scroll up button */

/* Scroll to Top Button */

#btn-scroll-to-top,
#email-button,
#instagram-button,
#whatsapp-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

#btn-scroll-to-top {
  width: 3rem;
  height: 3rem;
  position: fixed;
  right: 0.3rem;
  bottom: 5rem;
  background-color: var(--lila);
  font-size: 30px;
  border-radius: 20px;
  border-style: none;
}

#btn-scroll-to-top:hover {
  background-color: var(--coffee);
  color: var(--beige);
}

/* Social Media Buttons */

.icon-container i {
  font-size: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

#email-button,
#instagram-button,
#whatsapp-button {
  position: fixed;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--lila);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
}

#instagram-button {
  top: 44%;
}

#whatsapp-button {
  top: 56%;
}

#register-page #email-button,
#register-page #instagram-button,
#register-page #whatsapp-button {
  left: 50%;
  top: 85%;
  bottom: 20px;
  transform: translateX(-50%);
}

#register-page #whatsapp-button {
  left: 70%;
}

#register-page #instagram-button {
  left: 30%;
}

/* "Contactează" Button */

#complete,
.button {
  font-size: var(--font-size-md);
  background-color: var(--red);
  color: var(--beige);
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin: 10px 0;
  width: 150px;
}

#complete:hover,
.button:hover {
  background-color: var(--beige);
  color: var(--red);
}

@media (min-width: 425px) {
  #register-page #instagram-button {
    left: 35%;
  }

  #register-page #whatsapp-button {
    left: 65%;
  }
}

@media (min-width: 768px) {
  #btn-scroll-to-top {
    width: 4rem;
    height: 4rem;
    right: 1rem;
    bottom: 4rem;
  }

  #email-button,
  #whatsapp-button,
  #instagram-button {
    right: 20px;
  }

  #register-page #instagram-button {
    left: 40%;
  }

  #register-page #whatsapp-button {
    left: 60%;
  }
}

@media (min-width: 1024px) {
  #register-page #instagram-button {
    left: 43%;
  }

  #register-page #whatsapp-button {
    left: 57%;
  }
}

@media (min-width: 1440px) {
  #register-page #instagram-button {
    left: 45%;
  }

  #register-page #whatsapp-button {
    left: 55%;
  }
}
